# Extracting table using Pandas

In [26]:
#!pip install lxml
#!pip install pandas

import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [27]:
a : int = 9
b : int = 3

print(a + b)
print(a * b)
print(a - b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

12
27
6
3.0
0
729
3

In [28]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [29]:
a = 5
a = 7
print(a)

a += 2
print(a)

a -= 1
print(a)

a *= 2
print(a)

a /= 2
print(a)

a*=2
print(a)

a //=2
print(a)

a %= 4
print(a)

7
9
8
16
8.0
16.0
8.0
0.0

In [30]:
ord('a')

97

In [31]:
chr(65)

'A'

In [32]:
ord('A')

65

In [33]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

# Logical Operators

In [25]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

# "and" means Mandatory - "or" Means Optional

In [40]:
print(True and True and True)   # and condition all statement must be true
print(True and False and True) # If any statement is False will revert False
print(True or False or False) # Or statement will revert True if any 1 of them is True

True
False
True
False

# "not" Statement

In [43]:
name : str = "Danish"
print(not True) # not statement
print(name == 'Danish')
print(not name == 'Danish')
print(name != "Danish")

False
True
False
False

# Identification operator "is" and "isnot" for value matching

In [62]:
a : str = "abc"
b : str = "abc"
c : str = "abcd"
print(id(a))
print(id(b))
print(a is b)
print(a is not c)

140719310901512
140719310901512
True
True

# Usage of "in" and "not in" to look if array contains the value

In [48]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [64]:
names : list [str] = ["Aleem", "Saleem", 'Kaleem',"Danish"] # here you have created array

uinput: str = input ("Enter your name") # here you have asked inputter to input the name

uinput1 = uinput not in names # You have commanded python to check if uinput value is availabel in names list or not.
uinput2 = uinput in names

print (uinput1, uinput2)

False True

# PEMDAS or BODMAS RULES

To solve the expression, you should follow the order of operations (PEMDAS/BODMAS), which stands for Parentheses/Brackets, Exponents/Orders (i.e., powers and square roots, etc.), Multiplication and Division (left-to-right), Addition and Subtraction (left-to-right).

Here's the step-by-step solution:

First, calculate the expression inside the parentheses/brackets:
8 - 2 = 6

Now, calculate the exponent (2^3):
2^3 = 2 * 2 * 2 = 8

Perform the division:
8 / 6 = 4/3 (or 1.33, rounded to 2 decimal places)

Perform the multiplication and division from left to right:
5 + 6 * 2 - 8 + 4/3

Now, perform the multiplication:
5 + 12 - 8 + 4/3

Next, perform the addition and subtraction from left to right:
5 + 12 - 8 + 4/3 = 17 - 8 + 4/3

Continue with the addition and subtraction:
17 - 8 = 9
9 + 4/3

To add a fraction to a whole number, you need a common denominator:
9 + (4/3) = (9 * 3/3) + 4/3 = 27/3 + 4/3

Now, add the fractions:
27/3 + 4/3 = (27 + 4) / 3 = 31/3

So, the final result is 31/3, which can also be expressed as a mixed number: 10 1/3 or as a decimal approximately 10.33 (rounded to two decimal places).

In [65]:
print(5+6*2-8 +2 **3 / (8-2))

10.333333333333334

In [66]:
# you can use underscore as a million and billion seprator.
print(15_000_000)

15000000

# zip & unzip

In [67]:
a , b , c = 'Kaleem', 7, 9.6

print(a)
print(b)
print(c)

Kaleem
7
9.6

In [69]:
a , b , c = ('Kaleem', 7, 9.6)

print(a)
print(b)
print(c)
a=6

Kaleem
7
9.6

In [72]:
data = 'Saleem', 8, 9.6
print(data[0], data[1], data[2])    # method no. 1
print(*data)    # method no. 2 answer will remain same it's a shortcut of method 1
print (4*3) # answer of this will be 12
print ('a'*4) # answer of this will be 4 times a i.e. 'aaaa'

Saleem 8 9.6
Saleem 8 9.6
12
aaaa

# Zen of python

In [73]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!