# Loop

In [4]:
# For Loop
names : list [str] = ['Kamran', "Hanif", "Zia", "Asad"]

for name in names:
    print(name)

Kamran
Hanif
Zia
Asad

In [13]:
# For Loop
names : list [str] = ['kamran', "hanif", "zia", "asad"]

for name in names:
    print(f'Welcome Mr. {name.title()}.')
    print('PIAIC Gen AI Team\n')

Welcome Mr. Kamran.
PIAIC Gen AI Team

Welcome Mr. Hanif.
PIAIC Gen AI Team

Welcome Mr. Zia.
PIAIC Gen AI Team

Welcome Mr. Asad.
PIAIC Gen AI Team

In [5]:
# while Loop
names : list [str] = ['Kamran', "Hanif", "Zia", "Asad"]

i: int = 0

while i<len(names):
    print(names[i])
    i += 1

Kamran
Hanif
Zia
Asad

# Usage of tuples, loops, if, and, else

In [26]:
id : list [tuple[str, str]] = [('kamran', '123'), 
                               ('saleem', '254'), 
                               ('salman', '789')]

u_input : str = input("Enter your user name.") # user will input uid
pw_input : str = input("Enter your password.") # user will input pw

for row in id:  # here system will update the row with value 1 by 1
    uid, pw = row # here element is unziped
    if u_input == uid and pw_input == pw:
        print('Valid user')
        break
else:
    print('input valid user id and password')

Valid user

# Usage of Enum or enumerate

In [39]:
names: list [str] = ['asad', 'nazir', 'shahzad','farhan']

list(enumerate(names))

[(0, 'asad'), (1, 'nazir'), (2, 'shahzad'), (3, 'farhan')]

In [40]:
names: list [str] = ['asad', 'nazir', 'shahzad','farhan']

for name, index in enumerate(names):
    print(name,index)

0 asad
1 nazir
2 shahzad
3 farhan

# Number loop (Just like slicing in string)
* range 
* syntax : (start, end, step)

In [30]:
# before iteration function
print(range(10))
range(1,10)

range(0, 10)

range(1, 10)

In [33]:
# after iteration function
list(range(10)) #this will print the number till 10-1 = 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(2,10)) #starting from 2 end 10-1 = 9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
list(range(2,21,2)) #starting from 2, end 21-1 = 20, steps count every second number

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [42]:
for n in range(1,11):
    print(f'2 x {n} = {2 * n}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [45]:
squares : list [int] = []
for value in range(1,11):
    square = value **2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive
* for loop syntax
" for item in items:
    loop_body"

* for list comprehensive syntax
" [loop_body for item in items]"

In [47]:
# for loop
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [46]:
# List comprehensive single line code
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
digits : list [int] = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

print(max(digits))
print(min(digits))
print(sum(digits))

100
1
385

In [49]:
# after using the slicing method data will be coppied deep
a = [1, 2 , 3 , 4]
b = a [:] # slice method added
print(a)
print(b)

b[0] = 6 # will not impact a as slice method has been used
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[6, 2, 3, 4]

# Tuples

In [63]:
# you cannot update any element in tuple
names : tuple  = ('a', 'b', 'c')

names[0] = "Pakistan"
print(names)

TypeError: 'tuple' object does not support item assignment

In [72]:
# you cannot update any element in tuple
names : tuple  = ('a', 'b', 'c')
print(names)

# but you can freshly re-define the tuple
names : tuple  = ('Pakistan', 'b', 'c')
print(names)

('a', 'b', 'c')
('Pakistan', 'b', 'c')

In [67]:
names: tuple = ('a', 'b', [1, 2, 3], True)
print(names[2])

names[2].append(4) # you can update the element in array
print(names)

[1, 2, 3]
('a', 'b', [1, 2, 3, 4], True)