# Strings

# Single and Double Quotes

In [4]:
#In this case single quote has been with in sentence and for border double quotes used
print("It's Danish's Secret diary")

It's Danish's Secret diary

# Usage of "\\" to convert single or double quote in to normal character

In [3]:
# you cannot use back ticks but you can use double quotes and single quotes twice and thrice
# if you want to use special character in string you can add \ before quotes
print('Hi there\'s some thing, I want to ask?')

Hi there's some thing, I want to ask?

# Usage of "\n" for line break

In [6]:
# You can type string in single but want to mention few thing in next line separately.
print("PIAIC \nPresident Initiative for Artificial Intelligence and Computing")

PIAIC
President Initiative for Artificial Intelligence and Computing

# Conversion of integer to string

In [7]:
#You cannot concatenate the string and integer, python will generate error
#Resolution: Convert the integer to string
"a" + str(7)

'a7'

# Concatenate with "+" sign

In [17]:
# How will you create a card - concatenation
name : str = "Danish Ghani"
father_name: str = "Abdul Hameed"
education: str = "Masters"
Age : int = 38

card : str = "PIAIC\nStudent Name: "+ name + "\nFather's Name: " + father_name  + "\nAge: " + str(Age)
print(card)

PIAIC
Student Name: Danish Ghani
Father's Name: Abdul Hameed
Age: 38

# Math Calculation print with "+" sign

In [18]:
# If you want to do the calculations
print(2+8+10)

20

# "\\" Line Continue

In [19]:
# if you want to do the calculation so that python can read it in single but you want
# to type in multipel lines
print(2+\
      8+\
      10)

20

## Multiline string typing with 3 times double or single quotes

In [23]:
name : str = "Danish Ghani"
father_name: str = "Abdul Hameed"
education: str = "Masters"
Age : int = 38

# usage of triple single / double quotes

card : str = """
PIAIC
Student Name: ..........
Father's Name: .........
Age: ....................
"""

print(card)

PIAIC
Student Name: ..........
Father's Name: .........
Age: ....................

# F-String Python (Use just like backticks)

In [28]:
name : str = "Danish Ghani"
father_name: str = "Abdul Hameed"
education: str = "Masters"
Age : int = 38

#f usage of triple single / double quotes
# this can also updated calculated answer as well but with curly brackets

card : str = f"""
PIAIC
Student Name: {name}
Father's Name: {father_name}
Age: {Age}
Total fee: {100 + 20 + 30}
"""

print(card)

PIAIC
Student Name: Danish Ghani
Father's Name: Abdul Hameed
Age: 38
Total fee: 150

# Old coding style of f-string

In [29]:
name : str = "Danish Ghani"
father_name: str = "Abdul Hameed"
education: str = "Masters"
Age : int = 38

#f usage of triple single / double quotes
# this can also updated calculated answer as well but with curly brackets

card : str = f"""
PIAIC
Student Name: %s
Father's Name: %s
Age: %d
Education: %s
""" %(name, father_name, Age, education)

print(card)

PIAIC
Student Name: Danish Ghani
Father's Name: Abdul Hameed
Age: 38
Education: Masters

# String Methods

In [42]:
name : str = "MuhAmmad aLI"
print(name.capitalize())
print(name.lower())
print(name.upper())

Muhammad ali
muhammad ali
MUHAMMAD ALI

In [48]:
name1 : str = "          Asim         khan           "

display(name1)
display(name1.lstrip()) # this will remove all spaces from left
display(name1.rstrip()) # this will remove all spaces from right
display(name1.strip()) # this will remove all spaces from both left and right

import re

name2 : str = re.sub(' {2,100}',' ',name1)
#in first section, this will remove all spaces between 2 to 100
#in second section, this will replace the spaces to single space
#in third section, you will define variable
# now if you want to remove left and rights spaces you can use strip method as well.
name3 : str = re.sub(' {2,100}',' ',name1).strip()
display(name2)
display(name3)

'          Asim         khan           '

'Asim         khan           '

'          Asim         khan'

'Asim         khan'

' Asim khan '

'Asim khan'

# "{}" Place Holder

In [34]:
a = 20
b = 30
# index             0           1         0,1
"Pakistan value a = {} and b = {}".format(a,b)

'Pakistan value a = 20 and b = 30'

In [37]:
name : str = "Danish Ghani"
father_name: str = "Abdul Hameed"
education: str = "Masters"
Age : int = 38

#".format()" can work just like f-string
# you just have to be carefull with index number
# 1st character in round brackets index will be zero and start onwards.

card : str = """
PIAIC
Student Name: {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(father_name,name,education, Age)

print(card)

PIAIC
Student Name: Danish Ghani
Father's Name: Abdul Hameed
Age: 38
Education : Masters

In [38]:
name : str = "Danish Ghani"
father_name: str = "Abdul Hameed"
education: str = "Masters"
Age : int = 38

#".format()" can work just like f-string
# you just have to be carefull with index number
# you can also index with words as well

card : str = """
PIAIC
Student Name: {b}
Father's Name: {a}
Age: {d}
Education : {c}
""".format(a=father_name,b=name,c=education, d=Age)

print(card)

PIAIC
Student Name: Danish Ghani
Father's Name: Abdul Hameed
Age: 38
Education : Masters

# Execute codes in strings.

In [39]:
student_code : str = """
print("My name is Danish")
a = 10
b = 20
print(a*b)
"""
exec(student_code)

My name is Danish
200

In [50]:
url : str = "https://abc.com"
url.removeprefix("https://")

'abc.com'